html, body {
  margin: 20px;
}

ul.list {
  border-collapse: collapse;
  display: table;
  list-style-type: none;
  width: 100%;

  li {
    display: table-row;

    div {
      border: 1px solid #777;
      display: table-cell;
      padding: 0.5em;
    }

    .position {
      text-align: center;
      vertical-align: middle;
      width: 2em;
    }

    .authors::before {
      content: '» ';
    }
  }
}
