<div class="book">
  <div class="header">
    <h1>{{title}}</h1>
    <h6>JK Rowling</h6>
  </div>
  <div class="row">
    <div class="image">
      <img src="http://placekitten.com/g/200/300">
    </div>
    <div>
      <h6>Read on:</h6><date>2014-01-01</date>
      <br>
      <br>
      <h6>In lists:</h6>
      <ul>
        <li>Books I own</li>
        <li>Books I read</li>
      </ul>
      <input placeholder="Add to list">
    </div>
  </div>
  <div>
    <label>Notes:</label>
    <textarea value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam."></textarea>
  </div>
</div>
