<div class="book-list">
  <ul>
    {{#link-to "index.list.book"}}<li>Harry Potter and the Sorcerer's Stone</li>{{/link-to}}
    {{#link-to "index.list.book"}}<li>Harry Potter and the Chamber of Secrets</li>{{/link-to}}
    {{#link-to "index.list.book"}}<li>Harry Potter and the Prizoner of Azkaban</li>{{/link-to}}
    {{#link-to "index.list.book"}}<li>Harry Potter and the Goblet of Fire</li>{{/link-to}}
    {{#link-to "index.list.book"}}<li>Harry Potter and the Order of the Phoenix</li>{{/link-to}}
    {{#link-to "index.list.book"}}<li>Harry Potter and the Half-Blood Prince</li>{{/link-to}}
    {{#link-to "index.list.book"}}<li>Harry Potter and the Deathly Hallows</li>{{/link-to}}
  </ul>
</div>

{{outlet}}
