<div class="book-list">
  <ul>
    {{#each record in sortedRecords}}
      <li>
        {{#link-to "index.list.record" record}}
          {{record.book.title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
