<aside class="navigation">
  <div class="search-bar">
    <div class="search-and-submit">
      <input type="search" placeholder="Enter Search" />
      <button type="submit">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
      </button>
    </div>
  </div>
  <ul>
    <li>{{#link-to "index.list"}}Books I own{{/link-to}}</li>
    <li><a href="#">Books I read</a></li>
    <li><a href="#">Books I want to read</a></li>
  </ul>
</aside>
{{outlet}}
