{{#sortable-list action="updatePositions"}}
{{#each record in sortedRecords}}
	<li data-id="{{unbound record.id}}">
		<div class="position">
			{{record.position}}
		</div>
		<div class="title-and-author">
			{{record.book.title}}
			<br>
			{{#if record.book.authors}}
				<span class="authors">
				{{#each author in record.book.authors}}
					{{author.name}}
				{{/each}}
				</span>
			{{/if}}
		</div>
	</li>
{{/each}}
{{/sortable-list}}
