<ul class="list">
{{#each book in sortedBooks}}
	<li>
		<div class="position">
			{{book.position}}
		</div>
		<div class="title-and-author">
			{{book.title}}
			<br>
			{{#if book.authors}}
				<span class="authors">
				{{#each author in book.authors}}
					{{author.name}}
				{{/each}}
				</span>
			{{/if}}
		</div>
	</li>
{{/each}}
</ul>
